<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <style>
        /*样式在这里写*/
        .choice-container {
          display: flex;
        }
        .item {
          width: 100px;
          height: 50px;
          color: black;
          border-color: red;
          margin-left: 10px;
          text-align: center;
          line-height: 50px;
          cursor: default;
          border: 1px solid black;

        }
        .active {
          border: 1px solid red;
          color: red;
        }
        .disabled {
          border: 1px dashed #ccc;
          color: #ccc;
          cursor: not-allowed;
        }
    </style>
</head>
<body>
<div id='app'>
    <!-- 在这里实现 -->
    颜色: <br>
    <div class="choice-container">
      <div :class="{item: true, active: item ===activeColor}" v-for="(item, index) in colorArr" :key="index" @click="colorHandler(item)">{{item}}</div>
    </div>
    尺码: <br>
    <div class="choice-container">
      <div :class="{item: true, active: item ===activeSize, disabled: activeColor && !choiceRelations[activeColor][item]}" v-for="(item, index) in sizeArr" :key="index" @click="sizeHandler(item)">{{item}}</div>
    </div>
    数量: <br>
    <div class="choice-container">
      <div v-if="item" :class="{item: true, active: item ===activeCount, disabled: activeSize && !choiceRelations[activeColor][activeSize].includes(item)}" v-for="(item, index) in countArr" :key="index"  @click="countHandler(item)">{{item}}</div>
    </div>
</div>
<script>
    var vm = new Vue({
        el: "#app",
        computed: {
          colorArr () {
            var s = new Set(this.specList.map( x => x.option1))
            return Array.from(s)
          },
          sizeArr () {
            return Array.from(new Set(this.specList.map(x => x.option2)))
          },
          countArr () {
            return Array.from(new Set(this.specList.map(x => x.option3)))
          },
          choiceRelations () {
            var obj = {}
            this.specList.forEach( item => {
              if (!obj[item.option1]) {
                obj[item.option1] = {}
              }
              if (!obj[item.option1][item.option2]) {
                obj[item.option1][item.option2] = []
              }

              obj[item.option1][item.option2].push(item.option3)  

            })
            console.log(obj)
            return obj
          }
        },
        data: {
            activeColor: '',
            activeSize: '',
            activeCount: '',
            // 可以使用 methods，computed，watch 等
            // 这是接口返回的原始规格数据，(不能改动，只能用）
            specList: [{
                name: '好看的衣服',
                option1: '蓝色',
                option2: 'S',
                option3: '一件'
            }, {
                name: '好看的衣服',
                option1: '蓝色',
                option2: 'M',
                option3: '一件'
            }, {
                name: '好看的衣服',
                option1: '蓝色',
                option2: 'L',
                option3: '一件'
            }, {
                name: '好看的衣服',
                option1: '红色',
                option2: 'M',
                option3: '一件'
            }, {
                name: '好看的衣服',
                option1: '红色',
                option2: 'L',
                option3: '一件'
            }, {
                name: '好看的衣服',
                option1: '黄色',
                option2: 'L',
                option3: '一件'
            }, {
                name: '好看的衣服',
                option1: '绿色',
                option2: '不分大小',
                option3: ''
            }, {
                name: '好看的衣服',
                option1: '黑色',
                option2: '不分大小',
                option3: '送袜子'
            }]
        },
        methods: {
          colorHandler (item) {
            this.activeColor = item; 
            this.activeSize = ''; 
            this.activeCount = ''
          },
          sizeHandler (item) {
            if (this.activeColor && !this.choiceRelations[this.activeColor][item]) {
              return
            }
            this.activeSize = item
          },
          countHandler (item) {
            if (this.activeSize && !this.choiceRelations[this.activeColor][this.activeSize].includes(item)) {
              return
            }
            this.activeCount = item
          }
        }
    })
</script>
</body>
</html>